OPENAI_API_KEY=
APP_NAME=Opher
APP_SECRET=

# VITE Comfiguration
VITE_REACT_FIREBASE_API_KEY=
VITE_REACT_FIREBASE_AUTH_DOMAIN=
VITE_REACT_FIREBASE_APP_ID=
VITE_REACT_FIREBASE_PROJECT_ID=

# CRA Environment Config

REACT_FIREBASE_API_KEY=
REACT_FIREBASE_AUTH_DOMAIN=
REACT_FIREBASE_APP_ID=
REACT_FIREBASE_PROJECT_ID=